.infoPokemonImage{
    text-align: center;
    padding-bottom: 20px;
}

.pokemonTitle{
    text-align: center;
    font-size: 30px !important;
    font-weight: 600 !important;
    letter-spacing: 0.4px;
}

.detail{
    display: flex;
    justify-content: center;
}

.card {
    max-width: 50rem;
    width: 45%;
}

.table{
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
}

td.pokemonStatus{
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background: #fce9ca;
}

@media (max-width: 1024px) {
    .card{
        width: 70%;
    }

    .navbar-toggler{
        visibility: hidden;
    }
}

@media (max-width: 768px) {
    .card{
        width: 80%;
    }

    .navbar-toggler{
        visibility: hidden;
    }

    .collapse:not(.show) {
        display: block;
    }

    a#homeText {
        color: #FBF4E9;
    }

    td.pokemonStatus {
        text-align: left;
    }
}

@media (max-width: 425px) {
    .card{
        width: 100%;
    }

    .navbar-toggler{
        visibility: hidden;
    }

    .collapse:not(.show) {
        display: block;
    }

    a#homeText {
        color: #FBF4E9;
    }
    
    td.pokemonStatus {
        text-align: left;
    }
}