.infoPokemonImage{
    text-align: center;
    padding-bottom: 20px;
}

.pokemonTitle{
    text-align: center;
    font-size: 30px !important;
    font-weight: 600 !important;
    letter-spacing: 0.4px;
}

.detail{
    display: flex;
    justify-content: center;
}

.card {
    max-width: 50rem;
    width: 45%;
}

.table{
    text-align: center;
    font-family: 'Poppins', sans-serif !important;
}

td.pokemonStatus{
    font-weight: 600;
}

tbody tr:nth-child(even) {
    background: #fce9ca;
}