/* 
    Basic palette
    Black: #333333
    Cream #FBF4E9
    Orange: #ff6e5a
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    background-color: #FBF4E9;
}

#main{
    max-width: 82%;
}

.dropdown-menu{
    background-color: #333333;
}

.dropdown-item:focus, .dropdown-item:hover, .dropdown-item.active, .dropdown-item:active {
    color: #1e2125;
    background-color: #ff6e5a;
}

nav.navbar{
    background-color: #333333;
}

#navbar{
    background-color: #333333;
    margin-bottom: 1.5rem;
}

.card{
    border: 1px solid rgb(255 110 90 / 25%);
    max-width: 20rem;
    width: 19%;
    margin: 0.2rem 0.25rem 0.5rem 0.25rem;
}

.card-header{
    background-color: rgba(255,255,255,0);
    border-bottom: none;
}

a, a.nav-link, a.dropdown-item{
    color: #ff6e5a;
}

.nav-link:focus, .nav-link:hover, a.navbar-brand:hover{
    color: #fbf4e9;
}

.btn-primary,
.btn-check:active+.btn-primary, .btn-check:checked+.btn-primary,
.btn-primary.active,
.show>.btn-primary.dropdown-toggle {
    color: #ff6e5a;
    background-color: #333333;
    border-color: #ff6e5a;
}

.btn-primary:focus, .btn-primary:active, .btn-primary:hover{
    color: #fbf4e9;
    background-color: #333333;
    border-color: #fbf4e9;
    box-shadow: 0 0 0 0.25rem rgb(255 110 90 / 10%);
}

.pokemonTitle {
    text-align: center;
    letter-spacing: 0.30px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.pokemonDescription {
    text-align: center;
    letter-spacing: 0.30px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.89rem;
}

.pokemonStatus {
    font-family: 'Poppins', sans-serif;
}

.pokemonType{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.4rem;
}

.typeBox{
    border: 1px solid;
    border-radius: 5px;
    padding: 0.01rem 0.7rem 0.01rem 0.7em;
    color: #fff;
    font-variant: all-petite-caps;
    font-weight: bold;
}

.pokemonStatus svg{
    margin-right: 0.25rem;
}

.divStatus {
    display: flex;
    justify-content: space-around;
}

.imgPokemon {
    max-width: 25%;
    align-self: center;
}

#cardHolder{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;    
}

.imgPokemon:hover {
    max-width: calc(25% + 2px);
}

.imgHover{
    text-align: center;
}