{{ template "header.html" .}}
<link rel="stylesheet" href="/css/info.css">

<body>
    {{ template "navbar.html" .}}
    <div id="info" class="container-fluid">
        <div class="row">
            <div class="col-xs col-sm col-md col-lg col-xl">
                <p class="pokemonTitle" id="titlePokemon"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs col-sm col-md col-lg col-xl">
                <div class="infoPokemonImage">
                    <img class="imgPokemon" id="imgPokemon"></img>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs col-sm col-md col-lg col-xl detail">
                <div class="card">
                    <div class="card-body">
                        <div class="pokemonType" id="typeDetail">
                        </div>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <td class="pokemonStatus">English name</td>
                                <td id="englishName"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">Japanese name</td>
                                <td id="japaneseName"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">Chinese name</td>
                                <td id="chineseName"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">French name</td>
                                <td id="frenchName"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">HP</td>
                                <td id="hp"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">Attack</td>
                                <td id="attack"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">Defense</td>
                                <td id="defense"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">Sp. Attack</td>
                                <td id="spAttack"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">Sp. Defense</td>
                                <td id="spDefense"></td>
                            </tr>
                            <tr>
                                <td class="pokemonStatus">Speed</td>
                                <td id="speed"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</body>
<script src="/js/info.js"></script>
{{ template "footer.html" .}}